[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CurricularAnalytics"]
	path = CurricularAnalytics
	url = https://github.com/danyulll/curricularanalytics
